<!-- RESET MODAL -->
<div class="backdrop" [style.display]="showResetPasswordForm"></div>
<div class="modal" tabindex="-1" role="dialog" [style.display]="showResetPasswordForm">
    <div class="modal-dialog modal-dialog-centered" role="document" >
      <div class="modal-content shadow-lg">
        <div class="modal-header p-0 py-1 bg-dark text-light">
          <div class="mx-auto"><b>Reset Password</b></div>
        </div>
        <div class="modal-body" *ngIf="showResetPasswordForm=='block'">
            <div class="row m-0">
                <div class="col-12 text-center pb-2">
                  <form #resetPasswordForm="ngForm">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12 px-2 px-md-5 mb-2">
                          <div class="form-group mb-2">
                            <input type="password" class="form-control" placeholder="Current Password" name="currentpassword" required #currpasswordRef="ngModel" [(ngModel)]="currentPassword"
                              [ngClass]="{'is-invalid': currpasswordRef.invalid && (currpasswordRef.dirty || currpasswordRef.touched)}">
                          </div>
                        </div>
                        <div class="col-12 px-2 px-md-5">
                          <div class="form-group mb-2">
                            <input type="password" class="form-control" placeholder="Password" name="password" required #passwordRef="ngModel" [(ngModel)]="newPassword" mustMatch="confpassword" reverse="true"
                              [ngClass]="{'is-invalid': passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)}">
                          </div>
                        </div>
                        <div class="col-12 px-2 px-md-5">
                          <div class="form-group mb-2">
                            <input type="password" class="form-control" placeholder="Confirm password" name="confpassword" required #confirmPassRef="ngModel" [(ngModel)]="confirmNewPassword" mustMatch="password">
                            <div class="alert alert-danger border-danger p-0" [hidden]="confirmPassRef.valid || (confirmPassRef.pristine && !resetPasswordForm.submitted)">
                              <small *ngIf="confirmPassRef.errors?.mustMatch">
                                Password mismatch
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-center">
                      <button type="submit" class="btn btn-primary mr-2" [disabled]="resetPasswordForm.invalid" (click)="submitChangePassword()">Change Password</button>
                      <button class="btn btn-outline-secondary" (click)="closeResetPasswordForm()">Cancel</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- RESET MODAL END -->

<div class="main-container" [class.resbo-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="resbo-main-toolbar bg-dark text-light">
    <div class="col-4">
      <button class="btn text-light" (click)="snav.toggle()" style="background-color: transparent;"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
    </div>
    <div class="col-4 text-center text-primary" style="font-family: 'Brush Script MT', cursive; color: #275ea3; font-size: 2rem;">
      <strong>
        <span>ReSBO</span>
      </strong>
    </div>
    <div class="col-4 d-none d-md-block">
      <div class="dropdown" style="float: right;">
        <a class="btn btn-dark dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="float: left;">{{ getLoggedInUserName() }}</span>&nbsp;&nbsp;<i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 1.5rem;"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item cursor-pointer" (click)="displayResetPasswordForm()">Change Password</a>
          <a class="dropdown-item cursor-pointer" (click)="logoutUser()">Logout</a>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="bg-dark shadow text-light" #snav [mode]="getSideNavMode()" [fixedInViewport]="mobileQuery.matches" [fixedTopGap]="getTopGap()" style="min-width: 200px;" [opened]="sideNavOpenedStatus">
      <div class="px-2 py-2 border-bottom bg-light text-secondary d-block d-md-none">
        <div>
          <a class="btn p-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div style="float: left; padding-top: 2px;">
              <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 1.5rem;"></i>
            </div>
            <span class="pl-2">{{ getLoggedInUserName() }} <i class="fa fa-caret-down" aria-hidden="true"></i></span>
          </a>
        </div>
        <div class="collapse" id="collapseExample" style="padding-left: 2.093rem;">
          <div (click)="displayResetPasswordForm()"><small>Change Password</small></div>
          <div (click)="logoutUser()"><small>Logout</small></div>
        </div>
      </div>
      <div class="px-2 py-2 border-bottom border-secondary">
          <div class="cursor-pointer" routerLink="/advertise" [routerLinkActive]="['side-nav-active']">Home</div>
      </div>
      <div class="px-2 py-2 border-bottom border-secondary">
        <div class="cursor-pointer" routerLink="/my-advertise" [routerLinkActive]="['side-nav-active']">My Advertise</div>
      </div>
      <div class="px-2 py-2 border-bottom border-secondary">
        <div class="cursor-pointer" routerLink="/my-interest" [routerLinkActive]="['side-nav-active']">My Interest</div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div class="alert alert-dismissible alert-{{ getNotificationSeverity() }} modified-alert" role="alert" *ngIf="getNotificationMessage()">
  <a href="#" class="close p-0 mt-2 mr-3" data-dismiss="alert" aria-label="close" (click)="closeNotification()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
  {{ getNotificationMessage() }}
</div>
